@import url('header.css');
@import url('footer.css');
@import url('common.css');

main * {
    font-size: 18px;
}
fieldset {
    border: 1px solid gray;
    padding: 10px 10px;
    margin-bottom: 20px;
}

button[type=submit] {
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    border: 1px gray solid;
    width: 100px;
}

input[type=text], input[type=tel], input[type=email]  {
    margin-bottom: 10px;
    width: 500px;
}

input[type=checkbox] {
    margin-right: 5px;    
}

.frm_description {
    font-size: smaller;
    margin-bottom: 5px;
}